﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(TempData["message"]?.ToString()))
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}

<form action="/Home/Result" method="post">
    <p>Высота слоя,м:
    <input name="H" value="@Model.Variant?.H" autocomplete="off"></p>

    <p>Начальная температура материала, С:
    <input name="NTM" value="@Model.Variant?.NTM" autocomplete="off"></p>

    <p>Начальная температура газа, С:
    <input name="NTG" value="@Model.Variant?.NTG" autocomplete="off"></p>

    <p>Скорость газа на свободное сечение шахты,м/с:
    <input name="VG" value="@Model.Variant?.VG" autocomplete="off"></p>

    <p>Средняя теплоемкость газа, кДж/(м3 • К):
    <input name="TG" value="@Model.Variant?.TG" autocomplete="off"></p>

    <p>Расход материалов кг/с:
    <input name="RM" value="@Model.Variant?.RM" autocomplete="off"></p>

    <p>Теплоемкость материалов, кДж/(кг • К):
    <input name="TM" value="@Model.Variant?.TM" autocomplete="off"></p>

    <p>Объемный коэффициент теплоотдачи, Вт/(м3 • К):
    <input name="OKT" value="@Model.Variant?.OKT" autocomplete="off"></p>

    <p>Диаметр аппарата, м:
    <input name="D" value="@Model.Variant?.D" autocomplete="off"></p>

    <p>Название варианта (заполните это поле, если хотите сохранить данные):
    <input name="Name" value="@Model.Variant?.Name" autocomplete="off"></p>

    <p><button type="submit">Рассчитать</button></p>
</form>

<h2>Варианты расчетов</h2>
<table class="table table-border">
    <tr>
        <td>Название варианта</td>
        <td>Высота слоя,м</td>
        <td>Начальная температура материала, С</td>
        <td>Начальная температура газа, С</td>
        <td>Скорость газа на свободное сечение шахты,м/с</td>
        <td>Средняя теплоемкость газа, кДж/(м3 • К)</td>
        <td>Расход материалов кг/с</td>
        <td>Теплоемкость материалов, кДж/(кг • К)</td>
        <td>Объемный коэффициент теплоотдачи, Вт/(м3 • К)</td>
        <td>Диаметр аппарата, м</td>
        <td></td>
    </tr>

    @foreach (var variant in Model.Variants)
    {
        <tr>
            <td>@variant.Name</td>
            <td>@variant.H</td>
            <td>@variant.NTM</td>
            <td>@variant.NTG</td>
            <td>@variant.VG</td>
            <td>@variant.TG</td>
            <td>@variant.RM</td>
            <td>@variant.TM</td>
            <td>@variant.OKT</td>
            <td>@variant.D</td>
            <td>
                <a href="/Home/Index/?variantId=@variant.Id">Открыть</a>
                <a href="/Home/Remove/?variantId=@variant.Id">Удалить</a>
            </td>
            
        </tr>

    }
</table>


 
 




