﻿@model TeploobmenOutput
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <p>Высота слоя,м:
    <input name="H"></p>

    <p>Начальная температура материала, С:
    <input name="NTM"></p>

    <p>Начальная температура газа, С:
    <input name="NTG"></p>

    <p>Скорость газа на свободное сечение шахты,м/с:
    <input name="VG"></p>

    <p>Средняя теплоемкость газа, кДж/(м3 • К):
    <input name="TG"></p>

    <p>Расход материалов кг/с:
    <input name="RM"></p>

    <p>Теплоемкость материалов, кДж/(кг • К):
    <input name="TM"></p>

    <p>Объемный коэффициент теплоотдачи, Вт/(м3 • К):
    <input name="OKT"></p>

    <p>Диаметр аппарата, м:
    <input name="D"></p>

    <p><button type="submit">Рассчитать</button></p>
</form>

<h2>Результат расчета</h2>
@if(Model != null)
{
     <table class="table">
        <tr>
            <td>Координаты у, м</td>
            <td>Y</td>
            <td>1-exp(...)</td>
            <td>1-m*exp(...)</td>
            <td>V</td>
            <td>Q(тильда)</td>
            <td>t</td>
            <td>T</td>
            <td>Разность температур</td>
        </tr>
        @foreach(var row in Model.Rows)
        {
            <tr>
            <td>@row.SloyH</td>
            <td>@row.Y</td>
            <td>@row.Vt</td>
            <td>@row.Qt</td>
            <td>@row.V</td>
            <td>@row.Q</td>
            <td>@row.t</td>
            <td>@row.T</td>
            <td>@row.Razn</td>
        </tr>
        }
    </table>
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');
    
  const data = {
      labels: @Json.Serialize(Model.Rows.Select(x => x.SloyH).ToList()),
      datasets: [
        {
          label: 't',
          data: @Json.Serialize(Model.Rows.Select(x => x.t).ToList()),
        },
        {
          label: 'T',
          data: @Json.Serialize(Model.Rows.Select(x => x.T).ToList()),
        },
        {
          label: 'Разность температур окатышей и газа',
          data: @Json.Serialize(Model.Rows.Select(x => x.Razn).ToList()),
        }
      ]
    };

      const configLine = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Изменение температуры окатышей и газа по высоте слоя'
          }
        }
      },
    };

    new Chart(ctx, configLine);

</script>
