﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form action="/Login/" method="post">
    Логин:
    <input name="Login" value="" autocomplete="off" />

    Пароль:
    <input name="Password" value="" autocomplete="off" />

    <button type="submit">Войти</button>
</form>




